@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}

body{

    background-image: linear-gradient(to top,#606d41,#4e5a33);

}

main{

    background-color:white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.651);
    width: 600px;
    padding: 10px;
    margin: auto;
}


h1{
    color: #A57237;
    text-align:center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.753) ;
}

h2{
    color:#7A5E3D ;

}


p{
    text-align: justify;
    color: #332F2B;
}